* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #0d0e0eee;
  color: white;
}

input {
  border: none;
  padding: 0.25rem 1rem;
  background-color: #544c4c;
  border-radius: 20px;
  color: white;
}
.weather-info{
  font-weight: 600;
}
.info-container {
    padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* width: 100%; */
}
.search-btn{
color: white;
    background-color: #544c4c;
    border-radius: 10px;
    padding:0.25rem  1rem;
    border: none;
}
.img-box {
  text-align: center;
}
.img-box img {
    margin-top: 2rem;
  height: 125px;
  width: 125px;
  padding: 1rem;
}
.weather-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.container{
    width: 300px;
}
.degree{
    margin-top: 1rem;
    font-size: 2rem;
}
.city-name{
    font-size: 1.5rem;
}